{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container h-100">
        <div class="row h-80">
            <div class="col-7 col-md-3 my-auto">
                <h1 class="display-4 logo-font iconColor">
                    What is your body's intention?
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-ls rounded-0 text-uppercase py-3">Let's find out together...</a>
                    </h4>
                </div>
            </div>    
        </div>
    </div>
{% endblock %}

{% block content %}
{% endblock %}