{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <!--bootstrap search form-->
    <div class="just searchF">
        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary">search</button>
        </div>
    </div>

    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    What is the body's intention?
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="#" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 border">Why don't we find out...</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="just">
    <div class="card" style="width: 18rem;">
  <img src="https://thumbs.dreamstime.com/b/running-man-runner-training-doing-outdoor-city-run-sprinting-along-wall-background-urban-healthy-active-lifestyle-male-athlete-156960214.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Running</h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">Explore</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://media.istockphoto.com/photos/female-swimmer-at-the-swimming-pool-picture-id465383082?k=6&m=465383082&s=612x612&w=0&h=_LHGJtV9UdvUyBc7PVk1VNpFklrN_2yQ8cK-QSOJkG4=" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Swimming</h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">Explore</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://media.istockphoto.com/photos/indian-man-eating-picture-id488962065" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Eating</h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">Explore</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://previews.123rf.com/images/andreypopov/andreypopov1710/andreypopov171000406/88245001-view-of-tired-young-man-snoring-while-deep-sleeping-in-bed.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Resting</h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">Explore</a>
  </div>
</div>
</div>

    <!--bootstrap navigation-->
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Socials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Helpful Links</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Want to become a Member?</h5>
            <p class="card-text">Look no further!</p>
            <a href="#" class="btn btn-primary">Let's Go</a>
        </div>
    </div>

    
{% endblock %}