html {
    height: 100%;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden
}

.jCenter {
    display:flex;
    justify-content: center;
}

.socialMediaFooter {
    padding: 0;
    margin: 0;
}

.socialMediaLists {
    display: inline-block;
    padding: 10px 30px;
    border-right:solid white 1px;
}

.iconColor {
    color:white;
}

body {
    background: url('/media/running-on-beach-1.jpg') no-repeat center center fixed;
    background-color: aliceblue;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Times New Roman', serif;
}

/* from Bulma, used from code inst */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
    border:solid blue 2px;
}

.btn-black {
    background: black;
    color: white;
    border:solid blue 2px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries, taken from codeinst */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}