<div id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li>
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="browse-link" aria-haspopup="true" aria-expanded="false">
                Browse
            </a>
        </li>

        <li>
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="browse-link" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
        </li>

        <li>
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="browse-link" aria-haspopup="true" aria-expanded="false">
                Community
            </a>
        </li>

        <li>
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="browse-link" aria-haspopup="true" aria-expanded="false">
                About Us
            </a>
        </li>
    </ul>
</div>