
            <div id="bottomFooter" class="row bg-white pt-lg-2 d-none d-lg-flex">
    <ul class="socialMediaFooter">
        <!--reason for seperate border classes is for sizing issues-->
        <li class="socialMediaLists">
            <h4 class="text-black">Want to Socialize?</h4>
        </li>
        <li class="socialMediaLists borderRight borderLeft">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook text-black" aria-hidden="true"></i></a>
        </li>
        <li class="socialMediaLists borderRight">
            <a href="https://www.instagram.com/?hl=en" target="_blank"><i class="fa fa-instagram text-black" aria-hidden="true"></i></a>
        </li>
        <li class="socialMediaLists borderRight">
            <a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest-p text-black" aria-hidden="true"></i></a>
        </li>
        <li class="socialMediaLists borderRight">
            <a href="https://twitter.com/?lang=en" target="_blank"><i class="fa fa-twitter text-black" aria-hidden="true"></i></a>
        </li>
    </ul>
</div>
            