<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                browse
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">browse</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="products-link">
                <a href="{% url 'products' %}" class="dropdown-item">all products</a>
                <a href="{% url 'products' %}?category=doe" class="dropdown-item">doe</a>
                <a href="{% url 'products' %}?category=yo" class="dropdown-item">yo</a>
                <a href="{% url 'products' %}?category=sara" class="dropdown-item">sara</a>
                <a href="{% url 'products' %}?category=boib" class="dropdown-item">boib</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="community-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                community
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="community-link">
                
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                about us
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                
            </div>
        </li>
    </ul>
</div>